.poem_of_the_day_title {
  a {
    font-size: 17px;
    color: #747474;
    font-style: normal;
  }
}
.poem_of_the_day_author_wrapper {
  margin-bottom: 12px;
  .poem_of_the_day_author {
    font-size: 13px;
    font-style: italic;
    color: #129ABC;
  }
}
